apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ pv_name }}
  namespace: {{ namespace }}
spec:
  capacity:
    storage: {{ capacity }}
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ storage_class }}
  hostPath:
    path: /data/{{ pv_name }}
  persistentVolumeReclaimPolicy: Delete
