---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: {{ storage_class }}
  namespace: {{ namespace }}
provisioner: rook-ceph.rbd.csi.ceph.com
allowVolumeExpansion: true
parameters:
  clusterID: rook-ceph
  pool: replicated_pool
